<h1> learn mat-buttons </h1>

<div>
  <button mat-button>mat-button</button>
  <button mat-raised-button>mat-raised-button </button>
  <button mat-flat-button>mat-flat-button</button>
  <button mat-stroked-button>mat-stroked button </button>

</div>

<div>
  <button mat-raised-button color="primary"> primary color </button>
  <button mat-flat-button color="accent"> accent color</button>
  <button mat-stroked-button color="warn"> warn color</button>
</div>

<div>
  <button mat-icon-button> Icon Button</button>
  <button mat-fab> FAb Button </button>
  <button mat-mini-fab>Mini Fab button</button>
</div>
<div>
  <button mat-raised-button color="primary" disableRipple> primary color </button>
  <a mat-raised-button color="warn" href="https://youtube.com"> link button </a>
</div>
