
<mat-toolbar color="primary" class="nav-bar">
  <div> <button (click)="opened=!opened"> <mat-icon>menu</mat-icon> </button> Mat Learn</div>
  <div>
    <button mat-button>Home</button>
    <button mat-button>About Us</button>
    <button mat-button [matMenuTriggerFor]="servicesMenu">services</button>
    <button mat-button>Contact Us</button>
    <!-- <button mat-button [matMenuTriggerFor]="logoutMenu">Profile</button> -->
    <button mat-button routerLink="profile" >Profile</button>
  </div>
</mat-toolbar>

<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="frontEndMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>
<router-outlet></router-outlet>



<mat-menu #frontEndMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #logoutMenu="matMenu">
  <button mat-menu-item>Logout-{{userName}}</button>
</mat-menu>

<mat-drawer-container>
  <mat-drawer mode="side" [(opened)] ="opened" >

    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home</mat-icon>Home</a>
    </mat-nav-list>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>security </mat-icon> services</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>folder</mat-icon> Folder</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="3" rowHeight="700px" gutterSize="5">
      <mat-grid-tile>
        <mat-accordion multi="true" hideToggle>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Angular Fundamentals</mat-panel-title>
              <mat-panel-description>Total Number of Classes: 60+</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius voluptatum porro!</p>
            <mat-action-row>
              <button mat-raised-button color="accent">Register</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Angular Material Fundamentals</mat-panel-title>
              <mat-panel-description>Total Number of Classes: 30+</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius voluptatum porro!</p>
            <mat-action-row>
              <button mat-raised-button color="accent">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-grid-tile>
      <mat-grid-tile >
        <mat-accordion multi="true" hideToggle>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>React Fundamentals</mat-panel-title>
              <mat-panel-description>Total Number of Classes: 60+</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius voluptatum porro!</p>
            <mat-action-row>
              <button mat-raised-button color="warn">Register</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>React Material Fundamentals</mat-panel-title>
              <mat-panel-description>Total Number of Classes: 20+</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius voluptatum porro!</p>
            <mat-action-row>
              <button mat-raised-button color="primary">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>

</mat-drawer-container>

<mat-drawer-container>
  <mat-drawer-content>
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
        <mat-tab-group #tabRef (click)="onTabChange(tabRef.selectedIndex)">
          <mat-tab label="Angular">Angular content</mat-tab>
          <mat-tab label="React">React Content</mat-tab>
          <mat-tab label="Vue">Vue Content</mat-tab>
          <mat-tab label="Express">Express Content</mat-tab>
          <mat-tab label="Bootstrap">Bootstrap content</mat-tab>
        </mat-tab-group>

      </mat-grid-tile>
    </mat-grid-list>
    <!-- <div><h2>{{tabRef.selectedIndex}} </h2></div> -->
  </mat-drawer-content>

</mat-drawer-container>

<mat-drawer-container>
  <mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile>
      <!-- stepper code start -->
      <mat-vertical-stepper linear>
        <mat-step label="video details" completed=false><p>video detailas1</p> </mat-step>
        <mat-step label="video elements" completed=false optional>
          <p>video elements1</p>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </mat-step>
        <mat-step label="video Visibility" completed=false><p>video Visibility1</p></mat-step>
      </mat-vertical-stepper>

    </mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>

<mat-drawer-container>
  <mat-form-field  >
    <mat-label>Name:</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <mat-form-field floatLabel="always" appearance="fill" color="primary">
    <mat-label>Name:</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <mat-form-field floatLabel="always" appearance="outline" color="warn" >
    <mat-label>Name:</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <mat-form-field floatLabel="auto" appearance="outline" color="accent" >
    <mat-label>Name:</mat-label>
    <input type="text" matInput>
  </mat-form-field>
</mat-drawer-container>

<mat-drawer-container>
  <mat-form-field>
    <mat-label>Course</mat-label>
    <mat-select [(value)]="mySelectedValue">
      <mat-option>none</mat-option>
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
      <mat-option value="Bootstrap">Bootstrap</mat-option>
    </mat-select>
  </mat-form-field>

<h1>my selected value is : {{mySelectedValue}}</h1>
</mat-drawer-container>

<mat-drawer-container>
  <mat-form-field>
    <mat-label>Course</mat-label>
    <mat-select [(value)]="mySelectedValue1" multiple>
      <mat-optgroup label="FrontEnd">
        <mat-option>none</mat-option>
        <mat-option value="Angular">Angular</mat-option>
        <mat-option value="React">React</mat-option>
        <mat-option value="Vue">Vue</mat-option>
        <mat-option value="Bootstrap">Bootstrap</mat-option>
      </mat-optgroup>
      <mat-optgroup label="BackEnd">
        <mat-option>none</mat-option>
        <mat-option value="mysql">MySql</mat-option>
        <mat-option value="mdb">ManoDB</mat-option>
        <mat-option value="couch">couch</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

<h1>my selected value is : {{mySelectedValue1}}</h1>
</mat-drawer-container>

<mat-drawer-container>
  <mat-drawer-content>
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
        <form action="">
          <mat-form-field>
            <input type="text" matInput>
          </mat-form-field>
        </form>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>

<mat-drawer-container>
  <mat-drawer-content>
    <button mat-raised-button (click)="onOpenModel()">Add Employee</button>
  </mat-drawer-content>
</mat-drawer-container>

