<mat-card class="myCard">
  <mat-card-header>
    <div mat-card-avatar class="headerImage"></div>
    <mat-card-title>Palli</mat-card-title>
    <mat-card-subtitle>Angular Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/myimg.png" alt="Anushka Img">
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque consequatur fuga unde suscipit harum beatae.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="worn">like</button>
    <button mat-raised-button color="primary">Share</button>
  </mat-card-actions>
</mat-card>
